<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tic Tac Toe</title>
  </head>
  <body>
    <div id="root">
      <h1>Tic-Tac-Toe</h1>
      <h2>
        <span id="gameStatus">Round </span><span id="roundNumber">1</span>
      </h2>
      <div class="scoreContainer">
        <div id="xSection">
          <div>
            <span id="isPlayerTurn" class="isActiveTurn activeRight"></span>
            <span>Player 1 </span>
            <span class="xColor">(X)</span>
          </div>
          <div>
            <span>Wins: </span>
            <span id="xScore">0</span>
          </div>
        </div>
        <div id="oSection">
          <div>
            <span id="oTurn"></span>
            <span>Computer </span>
            <span class="oColor">(O)</span>
          </div>
          <div>
            <span>Wins: </span>
            <span id="oScore">0</span>
          </div>
        </div>
      </div>
      <div id="gameBoard">
        <div class="row">
          <div id="0" class="box"></div>
          <div id="1" class="box boxMiddle"></div>
          <div id="2" class="box"></div>
        </div>
        <div id="mainRow" class="row">
          <div id="3" class="box"></div>
          <div id="4" class="box boxMiddle"></div>
          <div id="5" class="box"></div>
        </div>
        <div class="row">
          <div id="6" class="box"></div>
          <div id="7" class="box boxMiddle"></div>
          <div id="8" class="box"></div>
        </div>
      </div>
    </div>
    <!-- <script src="../../dist/bundle.client.js"></script> -->
  </body>
</html>
