body {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  font-family: monospace;

  background-color: #3b3b3b;
}

h1,
h2 {
  text-align: center;
}

#root {
  padding: 12px;
}

#gameBoard {
  height: 500px;
  width: 500px;
}

#mainRow {
  border-bottom: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
}

#xSection,
#oSection {
  position: relative;
}

.scoreContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 24px;

  font-size: 20px;
}

.boxMiddle {
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}

.row {
  display: flex;
  justify-content: center;

  max-height: 33%;
  height: 33%;
  width: 100%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 33%;
  font-size: 55px;

  user-select: none;
  cursor: pointer;
}

.blueSymbol {
  color: #71ddff;
}

.redSymbol {
  color: #ff7878;
}

.isActiveTurn {
  position: absolute;
  /* TODO: center absolute element without harcoded value */
  top: 5px;
  display: inline-block;

  width: 15px;
  height: 15px;

  background-color: #99eb82;
  border-radius: 50%;
}

.activeLeft {
  /* TODO: Find a better way to position on the left */
  left: 75px;
}

.activeRight {
  /* TODO: Find a better way to position on the right */
  right: 75px;
}

#resetBtn {
  color: inherit;
  text-decoration: underline;

  border: none;
  background-color: transparent;
  box-shadow: none;

  cursor: pointer;
}

.btnDisabled {
  pointer-events: none;
  opacity: 0.25;
}

.isHidden {
  opacity: 0;
}
